/*define global variables here*/
/*:root {

} */

.item img {
    width: 100%;
}
.carousel-indicators li {
    background-color: white !important;
		border: transparent !important;
}
.carousel-indicators .active {
    background-color: black !important;
		border: !important;
}

/*scatter plot*/
#scatterplot{
	width: 20%;
	float: left;
}
.axisLabel{
	font-size: 20px; 
	fill: black;
}


/*3d canvas*/
#threejsCanvas{
	border: 1px solid #000000;
	float: right;
}
