/*define global variables here*/
/*:root {

} */

* {
	font-family: "Helvetica Neue";
}

body {
  overflow: hidden; /* Hide scrollbars */
  margin: 0px 0px 0px 0px;
}

p {
	font-size: 20;
}

svg {
/* background: #efefef; */
background-color: black;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  /* background: lightsteelblue; */
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
	background: white;
}

.time {
	position: absolute;
	background-color: #000B14;
	color: white;
	bottom: 0;
	margin-left: 700;

}

#range1 {
	width: 400px;

}
.action {
	font-weight: bold
}

#title {
	font-size: 50;
	font-weight: bold
}

text {
  font-size: 20;
  fill: #feffc8;
}

/*all marker styles*/
circle.normalMarker {
    opacity: 0.6;
    fill: gold;
  }
  
  circle.hoverMarker {
    opacity: 1.0;
    fill: white;
  }
  
  circle.selectedMarker {
    opacity: 1.0;
    fill: #ef721a;
    width: 10;
    height: 10;
  /*  r: 10;*/
  }
  
  circle.hoverSelectedMarker {
    opacity: 1.0;
    fill: white;
    width: 10;
    height: 10;
  /*  r: 10; */
  }

/* search bar*/
.searchBarWrapper{
  width:300;
  height:90;
  background-color: transparent;
  color: #feffc8;
  position:fixed;
  left:50%;
  margin-left:-150;
}

#searchBar{
  width:300;
  height:30;
  background-color: transparent;
  font-size: 20;
  /*color: #feffc8;*/
  border: 0px;
  position:fixed;
  left:50%;
  margin-left:-150;
  color: transparent;
  text-shadow: 0 0 0 gray;
}

#searchBar:focus{
  outline-width: 0;
}

.inputselect{
  caret-color: transparent;
}


/*slider*/
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  color: red;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ef721a;;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ef721a;;
  cursor: pointer;
}

 All the same stuff for IE 
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #ef721a;;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0b1c31;
  background: #0b1c31;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0b1c31;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0b1c31;
  background: #0b1c31;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #0b1c31;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0b1c31;
}
input[type=range]:focus::-ms-fill-lower {
  background: #0b1c31;
}
input[type=range]::-ms-fill-upper {
  background: #0b1c31;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0b1c31;
}

span.leftlabel{
  color: #feffc8;
}

span.rightlabel{
  color: #feffc8;
}