/*define global variables here*/
/*:root {

} */

.item img {
    width: 100%;
}
.carousel-indicators li {
    background-color: white !important;
		border: transparent !important;
}
.carousel-indicators .active {
    background-color: black !important;
		border: !important;
}
#threejsCanvas{
	border: 1px solid #000000;;
}
